h1{
    text-align: center;
    margin-top: 20%;
}
#toggle{
    display: flex;
    width: 120px;
    height: 40px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

#toggle button{
    width: 50%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: auto;
}

#light{
    background-color: white;
    color: black;
}
#dark{
    background-color: black;
    color: white;
}